

<div class="todo">

<H1 class="text-center my-5 text-danger">My todo list</H1>
<div class="container d-flex flex-column justify-content-center align-items-center" >


    <div class="addInput my-5">
        <input class="inputAdd" type="text"[(ngModel)]="title"/>&nbsp;
        <button class="" (click)="add()">ADD</button>

    </div>

    <div class="box  p-5 ">
        
        
        <ul class="list">
            @for(item of todos;track item.id){
            <li class="d-flex justify-content-between">
                <input type="checkbox" name="packersOff" value="1">
                <p id="title" class="strikethrough" [ngClass]="item.completed?'pstrikethrough':'null'">{{item.id}},{{item.title}}</p>
                <i class="bi bi-trash text-danger" (click)="del(item)"></i>
            </li>
        }
        </ul>
     </div>
    
</div>
</div>
